<template>
  <div>
    <h1>Mypage</h1>
    <h3>{{ name }}</h3>
    <img src="../assets/yejiimage.jpg" alt="">
  </div>
</template>
<script>
export default {
  props: ['name']
}
</script>
<style></style>
